/* Gradient background for links */
a {
    background-image: linear-gradient(90deg, rgba(228, 14, 171, 1) 0%, rgba(160, 0 , 206, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.3s ease;
    background-size: 200% 200%;
    background-position: 0% 50%;
}

a:hover {
    background-position: 100% 50%;
}

/* Sidebar current item gradient background */
.sidebar .sidebar-item.current {
    background: linear-gradient(90deg, rgba(228, 14, 171, 1) 0%, rgba(160, 0 , 206, 1) 100%);
    color: #ffffff !important;
}

/* Sidebar item hover effect */
.sidebar .sidebar-item:hover {
    background: linear-gradient(90deg, rgba(228, 14, 171, 1) 0%, rgba(160, 0 , 206, 1) 100%);
    color: #ffffff !important;
}

/* Buttons */
button, .btn {
    background: linear-gradient(90deg, rgba(228, 14, 171, 1) 0%, rgba(160, 0 , 206, 1) 100%);
    color: #ffffff !important;
    border: none;
}

button:hover, .btn:hover {
    background: linear-gradient(90deg, rgba(228, 14, 171, 1) 0%, rgba(160, 0 , 206, 1) 100%);
}
